[submodule "Java/Pendu_java"]
	path = Java/Pendu_java
	url = https://github.com/42yasuke/Pendu_java
[submodule "React/Morpion_React"]
	path = React/Morpion_React
	url = https://github.com/42yasuke/Morpion_React
[submodule "Java/Morpion_Java_Swing"]
	path = Java/Morpion_Java_Swing
	url = https://github.com/42yasuke/Morpion_Java_Swing
